{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "import/no-unresolved": 0,
    "no-debugger": 0,
    "linebreak-style": 0
  }
}
